body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-color: black;
    
}
.box{
    background-color: yellow;
    height: 60vh;
    width: 40%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid red;
    border-radius: 5px;
}
h1{
    font-size: 35px;
    color: red;
    font-style: italic;
}
h3{
    font-size: 25px;
}
p{
    color: red;
    margin-top: 60px;
    font-size: 20px;
}
input{
    margin-top: 30px;
    border: none;
    height: 40px;
    width: 70%;
    padding-left: 20px;
}
button{
    margin-top: 20px;
    height: 50px;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: red;
    font-size: 20px;

}